## Build output
**/bin**/
**/obj**/
CakeShop.Persistence/Migrations/

## .NET user/local settings
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains IDE
.idea/

## NuGet
**/packages/

## Environment variables file (contains DB password)
.env